.hbmk/win/mingw64/_hbmkaut_Main.c
.hbmk/win/mingw64/_hbmkaut_Main.o
.hbmk/win/mingw64/CadCli.c
.hbmk/win/mingw64/CadCli.o
.hbmk/win/mingw64/Clientes.c
.hbmk/win/mingw64/Clientes.o
.hbmk/win/mingw64/Consultas.c
.hbmk/win/mingw64/Consultas.o
.hbmk/win/mingw64/Debugger.c
.hbmk/win/mingw64/Debugger.o
.hbmk/win/mingw64/Dialogos.c
.hbmk/win/mingw64/Dialogos.o
.hbmk/win/mingw64/Filtros.c
.hbmk/win/mingw64/Filtros.o
.hbmk/win/mingw64/Fornecedores.c
.hbmk/win/mingw64/Fornecedores.o
.hbmk/win/mingw64/Funcoes.c
.hbmk/win/mingw64/Funcoes.o
.hbmk/win/mingw64/InputWindowEx.c
.hbmk/win/mingw64/InputWindowEx.o
.hbmk/win/mingw64/Main.c
.hbmk/win/mingw64/Main.o
.hbmk/win/mingw64/OwnButton.c
.hbmk/win/mingw64/OwnButton.o
.hbmk/win/mingw64/Rotinas.c
.hbmk/win/mingw64/Rotinas.o
.hbmk/win/mingw64/Vendedor.c
.hbmk/win/mingw64/Vendedor.o
build.log
BuildEXE.bat
compo1.txt
compo122.log
debug.log
hb_out.log
SisDbHmg.exe
Bairros/build.log
Browser/build.log
Browser/hb_out.log
img/build.log
release/build.log
release/hb_out.log
Tab/build.log
Tab/error.log
Tab/hbmk.log
Tab/windres.log
_hmg_resconfig.h
_temp.rc
windres.log
.vscode/bookmarks.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
SisDbHmg.hbc
SisDbHmg.hbp
_temp.o
.gitignore
error.log
.gitignore
DataBase.ini
libcrypto-1_1-x64.dll
libmysql.dll
libssl-1_1-x64.dll
e1.Bmp
sqlfunc.txt
st121.txt
img/Arrow_Down.png
img/Arrow_Up.png
img/arrow-down.png
img/arrow-left-3.png
img/arrow-left.png
img/arrow-right-3.png
img/arrow-right.png
img/aviso1.bmp
img/brw_lupa.bmp
img/Buscar48.png
img/cadastros.png
img/cancel.bmp
img/cima11.png
img/clientes.png
img/closex.bmp
img/colaboradores.png
img/demo.ico
img/desenho1.bmp
img/desenho2.bmp
img/dialog-ok-apply-6.png
img/direita.png
img/edit-3.png
img/esquerda.png
img/Estat1.bmp
img/exclamatao4.bmp
img/exclamation1.bmp
img/exclamation2.bmp
img/Exclamation3.png
img/fechax.bmp
img/fornecedores.png
img/gif1.gif
img/go-next.png
img/go-previous.png
img/home.png
img/home1.png
img/i1.exe
img/i1.hbc
img/i1.hbp
img/i1.rc
img/ic_20_editar.bmp
img/ic_20_x_cancelar.gif
img/ic_janela.bmp
img/insert.png
img/Interrogacao.png
img/kdvi-3.png
img/logo.png
img/Main.Fmg
img/Main.Fmg.bak
img/Main.Prg
img/mark15.bmp
img/menu1.bmp
img/menu2.bmp
img/new.bmp
img/ngi.png
img/OK.BMP
img/ok24.bmp
img/ok245.bmp
img/pergunta1.bmp
img/pesq.png
img/Pesq1.bmp
img/preferences-system-windows-2.png
img/preferences-system-windows.png
img/question.bmp
img/remover.png
img/right_ocean.png
img/saida.png
img/setaa.bmp
img/setab.bmp
img/setab2.png
img/setab2d.png
img/setab22.png
img/setac2.png
img/setac2d.png
img/setac22.png
img/user.gif
img/user.png
img/vendedores.png
img/x11.bmp
hBit10.bmp
hBit11.bmp
hBit12.bmp
ErrorLog.Htm
