.hbmk/win/mingw64/_hbmkaut_Main.c
.hbmk/win/mingw64/_hbmkaut_Main.o
.hbmk/win/mingw64/CadCli.c
.hbmk/win/mingw64/CadCli.o
.hbmk/win/mingw64/Clientes.c
.hbmk/win/mingw64/Clientes.o
.hbmk/win/mingw64/Consultas.c
.hbmk/win/mingw64/Consultas.o
.hbmk/win/mingw64/Debugger.c
.hbmk/win/mingw64/Debugger.o
.hbmk/win/mingw64/Dialogos.c
.hbmk/win/mingw64/Dialogos.o
.hbmk/win/mingw64/Filtros.c
.hbmk/win/mingw64/Filtros.o
.hbmk/win/mingw64/Fornecedores.c
.hbmk/win/mingw64/Fornecedores.o
.hbmk/win/mingw64/Funcoes.c
.hbmk/win/mingw64/Funcoes.o
.hbmk/win/mingw64/InputWindowEx.c
.hbmk/win/mingw64/InputWindowEx.o
.hbmk/win/mingw64/Main.c
.hbmk/win/mingw64/Main.o
.hbmk/win/mingw64/OwnButton.c
.hbmk/win/mingw64/OwnButton.o
.hbmk/win/mingw64/Rotinas.c
.hbmk/win/mingw64/Rotinas.o
.hbmk/win/mingw64/Vendedor.c
.hbmk/win/mingw64/Vendedor.o
build.log
BuildEXE.bat
compo1.txt
compo122.log
debug.log
hb_out.log
SisDbHmg.exe
Bairros/build.log
Browser/build.log
Browser/hb_out.log
img/build.log
prg/Consultas.Prg
release/build.log
release/hb_out.log
Tab/build.log
Tab/error.log
Tab/hbmk.log
Tab/windres.log
