    SETAB2      PNG     img\setab2.png
    SETAB2D     PNG     img\setab2d.png
    SETAC2      PNG     img\setac2.png
    SETAC2D     PNG     img\setac2d.png
    LOGO1       PNG     img\logo.png
    OK24        PNG     img\ok242Png.Png 
    HOME1       PNG     img\Home1.Png 
    CURSOR1     CURSOR  img\hourglass.Cur  
    NAOPODE     CURSOR  img\aero_unavail_xl.Cur 
    CURSORSIZE  CURSOR  img\cursorx1.Cur 
    NEXT        PNG     img\go-next.Png 
    SETATRANSP  PNG     img\0001.Png 
    EXCLA1      PNG     img\Exclamation3.Png
    ROLAGEM     PNG     img\Rolagem1.Png
    INTERRO1    PNG     img\Interrogacao.Png
    SOMBRA5     BITMAP  img\Sombra5.bmp
    OKVERDE1    BITMAP  img\okverde1.bmp 
    OKVERDE2    BITMAP  img\okverde2.bmp 
    OKVERDE3    BITMAP  img\okverde3.bmp 
    OKMARK      PNG     img\ngi.png

    OKMARK22    PNG     img\ngi22.png    


    NGITRANS    PNG     img\ngi.png 




    LUPA1   PNG     img\LUPA001.Png   
    LUPA2   PNG     img\LUPA002.Png 


    ESQUERDA    BITMAP  img\SetEsquerda1.bmp 
    DIREITA     BITMAP  img\SetDireita1.bmp 


    ESQUERDA1   BITMAP  img\SetaEsquerda_1.bmp 
    DIREITA1    BITMAP  img\SetaDireita_1.bmp 


    ESQUERDAD   BITMAP  img\SetaEsquerda_d.bmp 
    DIREITAD    BITMAP  img\SetaDireita_d.bmp 


    SETTA   BITMAP  img\Setaa.Bmp 
    SETAB   BITMAP  img\setab.Bmp 



    CHAVE      PNG     img\chave2.png
    EXCLA1     PNG     img\ExclamaF.Png 


    

    BACK1       ARRAY   {229,237,242}
    FONTCOR     ARRAY   {0,106,133}
    SCRDOWN1    BITMAP img\Down1.Bmp 
    SCRDOWN2    BITMAP  img\Down2.Bmp 
    SCRDOWN3    BITMAP  img\Down3.Bmp
    SCRDOWN1_1    BITMAP img\Down1_1.Bmp 
    SCRDOWN2_1    BITMAP  img\Down2_2.Bmp 
    SCRDOWN3_1    BITMAP  img\Down3_3.Bmp    
    SCRDOWN1_D    BITMAP img\Down1_d.Bmp 
    SCRDOWN2_D    BITMAP  img\Down2_d.Bmp 
    SCRDOWN3_D    BITMAP  img\Down3_d.Bmp    
    SCRUP1_D    BITMAP  img\Up1_d.Bmp 
    SCRUP2_D    BITMAP  img\Up2_d.Bmp 
    SCRUP3_D    BITMAP  img\Up3_d.Bmp 
    SCRUP1      BITMAP  img\Up1.Bmp 
    SCRUP1_1    BITMAP  img\Up1_1.Bmp 
    SCRUP2_1    BITMAP  img\Up2_1.Bmp 
    SCRUP3_1    BITMAP  img\Up3_1.Bmp 
    SCRUP2      BITMAP  img\up2.Bmp
    SCRUP3      BITMAP  img\up3.Bmp


    ORDEMCIMA   BITMAP  img\setaa.Bmp
    ORDEMBAIXO  BITMAP  img\setaa.Bmp
    
    

    
                        
    



